name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Build unit tests
      working-directory: src
      run: docker build -t orchestrator.unittests:latest -f Orchestrator.UnitTests/Dockerfile .
    - name: Run unit tests
      working-directory: src
      run: docker run --rm -v ${PWD}/UnitTestResults:/src/Orchestrator.UnitTests/TestResults orchestrator.unittests
    - name: Compose build
      working-directory: src
      run: docker compose -f docker-compose.yml -f docker-compose.dependencies.yml -f docker-compose.integration-tests.yml build
    - name: Compose run E2E tests
      working-directory: src
      run: docker compose -f docker-compose.yml -f docker-compose.dependencies.yml -f docker-compose.integration-tests.yml up --exit-code-from e2etests
    - name: Tests report
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: (!cancelled())
      with:
        files: |
          src/UnitTestResults/*.trx          
          src/TestResults/*.trx
